<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="app-mat-nav">
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>home</mat-icon>
        Dashboard
      </a>
      <a mat-list-item href="categorias">
        <mat-icon matListItemIcon>bookmarks</mat-icon>
        Categorias
      </a>
      <a mat-list-item href="notas">
        <mat-icon matListItemIcon>collections_bookmarks</mat-icon>
        Notas
      </a>
      <div class="mt-auto">
        <hr>
        <a mat-list-item href="notas-arquivadas">
          <mat-icon matListItemIcon>folder</mat-icon>
          Arquivados
        </a>
        <a mat-list-item href="lixeira">
          <mat-icon matListItemIcon>delete</mat-icon>
          Lixeira
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="d-flex align-items-center gap-2">
        <mat-icon matListItemIcon>collections_bookmarks</mat-icon>
        NoteKeeper
      </span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
