<main class="container-fluid app-container-lixeira">
  <h1 class="fs-2">Lixeira</h1>
  <hr>

  <div class="row g-3 mt-2">
    <mat-chip-listbox *ngIf="categorias$ | async as categorias">
      <mat-chip-option (click)="filtrar()" selected>
        Todas as notas
      </mat-chip-option>

      <mat-chip-option
        *ngFor="let categoria of categorias"
        (click)="filtrar(categoria.id)"
      >
        {{ categoria.titulo }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div *ngIf="notas$ | async as notas" class="row g-3 mt-2">
    <div *ngFor="let nota of notas" class="col-lg-3">
      <mat-card class="mat-mdc-elevation-specific mat-elevation-z3 h-100">

        <mat-card-header class="app-card-header">
          <mat-card-title class="app-titulo-card">
            {{ nota.titulo }}
          </mat-card-title>

          <span class="app-categoria-nota"> {{ nota.categoria?.titulo }} </span>
        </mat-card-header>

        <mat-card-content class="mt-3">
          <p>{{ nota.conteudo }}</p>
        </mat-card-content>

        <mat-card-footer class="d-flex justify-content-end p-3 mt-auto gap-1">
          <a mat-icon-button
            class="app-btn-restaurar"
            (click)="restaurar(nota.id)"
            matTooltip='Restaurar'
          >
            <mat-icon> restart_alt </mat-icon>
          </a>
          <a mat-icon-button
            class="app-btn-excluir"
            [routerLink]="['/notas', 'excluir', nota.id]"
            matTooltip="Excluir"
          >
            <mat-icon> delete </mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</main>
