<main class="container-fluid my-4">
  <h1 class="fs-2">Lista de Notas</h1>
  <section
    aria-label="Opções"
    class="row justify-content-center justify-content-lg-start g-1"
  >
    <a
      mat-flat-button
      class="col-md-6 col-lg-4 col-xxl-2 fs-6 py-4"
      [routerLink]="['/notas', 'inserir']"
    >
      <mat-icon>bookmark_add</mat-icon>
      Cadastrar
    </a>
  </section>
  <hr>

  <div *ngIf="notas$ | async as notas" class="row g-3 mt-2">
    <div *ngFor="let cat of notas" class="col-lg-4 col-xxl-3">
      <mat-card class="mat-mdc-elevation-specific mat-elevation-z3 h-100">
        <mat-card-header>
          <mat-card-title class="app-titulo-card">
            {{ cat.titulo }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-footer class="d-flex justify-content-end p-3 mt-auto gap-1">
          <a mat-icon-button
            class="app-btn-editar"
            [routerLink]="['/notas', 'editar', cat.id]"
            matTooltip="Editar {{ cat.titulo }}"
          >
            <mat-icon> edit </mat-icon>
          </a>
          <a mat-icon-button
            class="app-btn-excluir"
            [routerLink]="['/notas', 'excluir', cat.id]"
            matTooltip="Excluir {{ cat.titulo }}"
          >
            <mat-icon> delete </mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</main>
