.app-btn-editar {
  background-color: #d7e3ff;
  color: #3360bb;
}

.app-btn-excluir {
  background-color: #ffcdd5;
  color: #8b5959;
}

.app-categoria-nota {
  font-size: 14px;
  padding: 1px;
  color: gray;
}
